.booksContainer {
    flex-basis: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bookshelfContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}